<p-toast></p-toast>
<div class="nav-tab">
  <div class="nav-tab position-relative">
    <button class="btn btn-outline-secondary back-button" (click)="goBackByRole()">{{constString.backicon}}</button>

    <ul class="nav nav-pills mb-3">
      <li class="nav-item">
        <!-- <button class="nav-link" [class.active]="activeTab === 'approved'"
          (click)="activeTab = 'approved'">{{constString.approved}}</button> -->
        <button class="nav-link" [class.active]="activeTab === 'approved'" (click)="switchTab('approved')">
          {{constString.approved}}
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'declined'" (click)="switchTab('declined')">
          {{constString.declined}}
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'pending'" (click)="switchTab('pending')">
          {{constString.pending}}
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="pills-AddVisitor-tab" data-bs-target="#pills-AddVisitor" type="button" role="tab"
          data-bs-toggle="modal" data-bs-target="#addVisitorModal" aria-selected="false"
          (click)="openAddVisitorModal()">{{constString.addVisitor}}</button>
      </li>
    </ul>
  </div>

  <app-approved-visitors *ngIf="activeTab === 'approved'"></app-approved-visitors>
  <app-declined-visitors *ngIf="activeTab === 'declined'"></app-declined-visitors>
  <app-pending-visitors *ngIf="activeTab === 'pending'"></app-pending-visitors>


  <div class="modal fade" id="addVisitorModal" tabindex="-1" aria-labelledby="addVisitorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal">
      <div class="modal-content custom-modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{constString.addVisitortitle}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form (ngSubmit)="submitVisitorForm(userForm)" #userForm="ngForm">
          <div class="modal-body">

            <!-- NAME -->
            <div class="mb-3">
              <label class="form-label">{{ constString.name }}</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="newVisitor.name" #name="ngModel" required
                pattern="^[A-Za-z ]+$" />

              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                <div *ngIf="name.errors?.['required']">
                  {{ constString.nameRequired }}
                </div>
                <div *ngIf="!name.errors?.['required'] && name.errors?.['pattern']">
                  Name must contain only letters
                </div>
              </div>
            </div>

            <!-- EMAIL -->
            <div class="mb-3">
              <label class="form-label">{{ constString.email }}</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="newVisitor.email" #email="ngModel"
                required email />

              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div *ngIf="email.errors?.['required']">
                  Email is required
                </div>
                <div *ngIf="!email.errors?.['required'] && email.errors?.['email']">
                  Email address must consist of @
                </div>
              </div>
            </div>

            <!-- TOWER -->
            <div class="mb-3">
              <label class="form-label">{{ constString.tower }}</label>
              <input type="text" class="form-control" name="tower" [(ngModel)]="newVisitor.tower" #tower="ngModel"
                required pattern="^[A-Za-z]+$" />

              <div *ngIf="tower.invalid && (tower.dirty || tower.touched)" class="text-danger">
                <div *ngIf="tower.errors?.['required']">
                  Tower is required
                </div>
                <div *ngIf="!tower.errors?.['required'] && tower.errors?.['pattern']">
                  Tower must contain only letters
                </div>
              </div>
            </div>

            <!-- FLAT NO -->
            <div class="mb-3">
              <label class="form-label">{{ constString.flatno }}</label>
              <input type="text" class="form-control" name="flatno" [(ngModel)]="newVisitor.flat_no" #flatno="ngModel"
                required pattern="^[0-9]{4}$" />

              <div *ngIf="flatno.invalid && (flatno.dirty || flatno.touched)" class="text-danger">
                <div *ngIf="flatno.errors?.['required']">
                  Flat number is required
                </div>
                <div *ngIf="!flatno.errors?.['required'] && flatno.errors?.['pattern']">
                  Flat number must be exactly 4 digits
                </div>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
              {{ constString.addVisitor }}
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancel(userForm)">
              {{ constString.cancel }}
            </button>
          </div>
        </form>

      </div>
    </div>

  </div>