<p-toast></p-toast>
<div class="user-management-container">


  <div class="sidebar-conatiner">
    <div class="sidebar">
      <button (click)="openAddGatekeeperModal()">{{constString.addGatekeeper}}</button>
    </div>
  </div>

  <div class="back-button-container" style="text-align: right; margin: 10px 20px;">
    <button class="back-button" (click)="goBack()">{{constString.backicon}}</button>
  </div>

  <div class="content">
    <!-- <div *ngIf="showSuccessMessage" class="success-message">
      {{constString.gatekeeperAddedSyccessfully}}
    </div> -->


    <div class="modal" *ngIf="showAddGatekeeperModal">
      <div class="modal-content">
        <h3>{{constString.addGatekeeper}}</h3>
        <form (ngSubmit)="submitGatekeeperForm()" #userForm="ngForm" class="user-form" autocomplete="off">
          <div class="form-row">
            <label>
              {{constString.name}}
              <input type="text" [(ngModel)]="newGatekeeper.name" name="name" required autocomplete="off" />
            </label>
            <label>
              {{constString.email}}
              <input type="email" [(ngModel)]="newGatekeeper.email" name="email" required autocomplete="off" />
            </label>
          </div>

          <div class="form-row">
            <label>
              {{constString.password}}
              <input type="password" [(ngModel)]="newGatekeeper.password" name="password" required
                autocomplete="new-password" />
            </label>
            <label>
              {{constString.address}}
              <input type="" [(ngModel)]="newGatekeeper.address" name="address" required autocomplete="off" />
            </label>
          </div>

          <div class="form-actions">
            <button type="submit" [disabled]="userForm.invalid">{{constString.submit}}</button>
            <button type="button" (click)="closeAddGatekeeperModal()">{{constString.cancel}}</button>
          </div>
        </form>
      </div>
    </div>



    <div class="user-management-container">
      <div class="content">

        <h2 class="heading-h2">
          {{constString.gatekeeperListTitle}} </h2>
        <div class="table-wrapper">
          <table class="user-table">
            <thead>
              <tr>
                <th>{{constString.srno}}</th>
                <th>{{constString.name}}</th>
                <th>{{constString.email}}</th>
                <th>{{constString.address}}</th>
                <th>{{constString.action}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address }}</td>
                <td>
                  <button class="delete-button" (click)="deleteGatekeeper(i)"><img [src]="constString.deleteicon"
                      alt="User Icon" class="delete-icon">
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        @if (isLoading) {
        <div class="loading-overlay">
          <app-loader [isLoading]="isLoading"></app-loader>
        </div>
        }
      </div>
    </div>