<p-toast></p-toast>

<div class="signup-form-wrapper">

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4 border rounded bg-light">
    <h4 class="form-heading text-center mb-4">{{constString.appTitle}}</h4>
    <div class="mb-3">
      <label for="name" class="form-label">{{constString.name}}</label>
      <input id="name" type="text" class="form-control" formControlName="name" placeholder="Enter your name" />
      <div *ngIf="form.controls.name.invalid && form.controls.name.touched" class="text-danger">
        {{constString.nameRequired}}
      </div>
    </div>


    <div class="mb-3">
      <label for="email" class="form-label">{{constString.email}}</label>
      <input id="email" type="email" class="form-control" formControlName="email" placeholder="Enter your email" />
      <div *ngIf="isInvalid(emailCtrl)" class="text-danger">
        <div *ngIf="emailCtrl?.errors?.['required']">
          Email is required
        </div>
        <div *ngIf="emailCtrl?.errors?.['email']">
          Email must contain @ and a valid domain
        </div>
        <div *ngIf="emailCtrl?.errors?.['emailExists']">
          This email is already registered
        </div>
      </div>

    </div>


    <div class="mb-3">
      <label for="password" class="form-label">{{constString.password}}</label>
      <input id="password" type="password" class="form-control" formControlName="password"
        placeholder="Enter password" />
      <div *ngIf="isInvalid(passwordCtrl)" class="text-danger">

        <div *ngIf="passwordCtrl?.errors?.['required']">
          {{constString.passwordRequired}}
        </div>

        <div *ngIf="passwordCtrl?.errors?.['minlength']">
          {{constString.passwordRequirement}}
        </div>

        <div *ngIf="passwordCtrl?.errors?.['pattern']">
          {{constString.passwordContain}}
          <ul class="mb-0">
            <li>{{constString.lowercaseLetter}}</li>
            <li>{{constString.containNumber}}</li>
          </ul>
        </div>

      </div>

    </div>

    <div class="mb-3">
      <label for="confirmpassword" class="form-label">{{constString.confirmPassword}}</label>
      <input id="confirmpassword" type="password" class="form-control" formControlName="confirmpassword"
        placeholder="Confirm password" />
      <div *ngIf="
    (confirmPasswordCtrl?.touched || passwordCtrl?.touched)
    && form.errors?.['mustMatch']
  " class="text-danger">
        {{constString.passwordsMustMatch}}
      </div>

    </div>


    <div class="mb-3">
      <label for="address" class="form-label">{{ constString.address }}</label>
      <input id="address" type="text" class="form-control" formControlName="address" placeholder="Enter your address" />
      <div *ngIf="form.controls.address.invalid && form.controls.address.touched" class="text-danger">
        {{ constString.addressRequired }}
      </div>
    </div>


    <div class="mb-3">
      <label for="flat_no" class="form-label">{{ constString.flatno }}</label>
      <input id="flat_no" type="text" class="form-control" formControlName="flat_no"
        placeholder="Enter your flat number" />
      <div *ngIf="form.controls.flat_no.invalid && form.controls.flat_no.touched" class="text-danger">
        {{ constString.flatRequired }}
      </div>
      <div *ngIf="
      !form.controls.flat_no.errors?.['required']
      && form.controls.flat_no.errors?.['pattern']
    " class="text-danger">
        Flat number must be exactly 4 digits (0-9)
      </div>
    </div>


    <div class="mb-3">
      <label for="tower" class="form-label">{{ constString.tower }}</label>
      <input id="tower" type="text" class="form-control" formControlName="tower" placeholder="Enter your tower" />
      <div *ngIf="form.controls.tower.invalid && form.controls.tower.touched" class="text-danger">
        {{ constString.towerRequired }}
      </div>
      <div *ngIf="
      !form.controls.tower.errors?.['required']
      && form.controls.tower.errors?.['pattern']
    " class="text-danger">
        Tower must contain only letters (A-Z)
      </div>
    </div>


    <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">
      {{ constString.signup }}
    </button>




  </form>
</div>