<ng-container *ngIf="pendingVisitors.length > 0; else noPendingVisitors">
  <div class="visitor-table">
    <div class="visitor-header">
      <div>{{ constString.name }}</div>
      <div>{{ constString.email }}</div>
      <div>{{ constString.tower }}</div>
      <div>{{ constString.flatno }}</div>
      <div>{{ constString.action }}</div>
    </div>

    <div *ngFor="let visitor of pendingVisitors" class="visitor-row">
      <div class="visitor-name">
        <img [src]="constString.visitorAvatariconimg" alt="Avatar" class="avatar" />
        {{ visitor.name }}
      </div>
      <div>{{ visitor.email }}</div>
      <div>{{ visitor.tower }}</div>
      <div>{{ visitor.flat_no }}</div>
      <div *ngIf="canModify()" class="action-buttons">
        <button class="btn btn-success btn-sm me-2" (click)="approve(visitor)">
          {{ constString.approve }}
        </button>
        <button class="btn btn-danger btn-sm" (click)="decline(visitor)">
          {{ constString.decline }}
        </button>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noPendingVisitors>
  <div class="empty-background">
    <img [src]="constString.backgroundicon" alt="Background Icon" class="background-icon" />
    <p class="no-data-text">{{ constString.nopendingVisitorFound }}</p>
  </div>
</ng-template>